<!DOCTYPE html>
<html lang=en>
<head>
<title>{% block title %} Django Unchained {% endblock %}</title>
{% include 'snippets/css.html' %}
</head>
<body>
<br/>
{% include 'snippets/nav.html' %}


<div class='container'>
{% block content2 %}
<div style="color:red"><i><u>Hello there !!</u></i></div>
<i>Content Block 2</i>
{% endblock content2 %}
{% block content %}
<div style="color:indigo"><i><u>Hello there from content Block 1 !!</u></i></div>
{% endblock content %}
</div>

{% include 'snippets/js.html' %}
</body>
</html>