{% extends "base.html" %}

{% block title %}Bars: {{ block.super }} {% endblock title %}

{% block content %}
<h1> Bars List <small><a href='{% url "bars_app:create" %}'>Add Bar</a></small></h1>

<ul>
{% for list_item in object_list %}
		<li>
			<ul>
				<!-- <i>  <a href='/bars/{{ list_item.slug }}/'> {{ list_item.title }}</a> </i> -->
	
				<i> <a href='{{ list_item.get_absolute_url }}'>{{ list_item.title }}</a></i>
				<i>{{ list_item.location }}</i>
				<i>{{ list_item.cuisines }}</i>
				<i>{{ list_item.timestamp }}</i>
				<i>{{ list_item.updated }}</i>
			</ul>
		</li>
		{% empty %}
		<li><a href='{% url "bars_app:create" %}'>Add Bar</a></li>
{% endfor %}
</ul>



{% endblock content %}